<h1>About the Library</h1>

<h2>What is the library?</h2>
<p>The library is a collection of books, authors, and categories. The data is pulled from the <a href="http://https://www.kaggle.com/jealousleopard/goodreadsbooks?select=books.csv">Goodreads-books dataset.</a></p>

<h2>How does it work?</h2>
<p>You may browse the library for books, categories and authors. For example, if we look at the "Animals" category, we will see all books that are associated with "Animals"</p>