<% content_for(:html_title) { "About" } %>
<h2 class="title is-2">About the Library</h1>

<h2 class="title is-4">What is the library?</h2>
<p>The library is a collection of books, authors, and subjects. The data is pulled from the <a href="http://https://www.kaggle.com/jealousleopard/goodreadsbooks?select=books.csv">Goodreads-books dataset.</a></p>
<br>

<h2 class="title is-4">How does it work?</h2>
<p>You may browse the library for books, subjects and authors. Each data member will contain links to associated data.</p>