<h1>Welcome to the Library!</h1>
<h2>See all:</h2>
<ul>
  <li><%= link_to 'Books',  '/books' %></li>
  <li><%= link_to 'Authors', '/authors' %></li>
  <li>Subjects</li>
</ul>
<p><%= link_to 'About Us',  '/about'%></p>