<h2 class="title is-2">All Books</h2>
<div class="columns is-multiline">
  <ul>
      <% @books.each do |book| %>
        <li>
          <div class="column is-full">
            <%= link_to book.title, book %>
            <p>Rating: <%= book.rating %> / 5</p>
          </div>
        </li>
      <% end %>
  </ul>
  <%= paginate @books %>
</div>

