<ul>
  <div class="columns is-multiline">
    <% @books.each do |book| %>
      <div class="column is-full">
        <li><%= link_to book.title, book %></li>
        <p>Rating: <%= book.rating %> / 5</p>
      </div>
    <% end %>
  </div>
  <%= paginate @books %>
</ul>

